<div class="animate-pulse">
  <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] w-[180px] md:w-[200px] h-[270px] md:h-[330px]">
    <div class="w-full rounded-t-xl bg-gray-200 h-[200px]"></div>
    <div class="p-4 md:p-5">
      <h3 class="text-lg font-bold text-gray-800 dark:text-white bg-gray-200 h-4">
      </h3>
      <p class="mt-5 text-xs text-gray-500 dark:text-gray-500 bg-gray-200 h-2">
      </p>
    </div>
  </div>
</div>
